*
!*/
!*.c
!*.rkt
!*.png
!*.jpg
!*.sh
!*.js
!*.py
!*.go
!*.java
!*.cpp
!*.h
!*.py
!*.html
!*.css
!*.prototxt
!*.caffemodel
!*.gitignore
!*.gitattributes
!*.mod
!*.sum
!*.md
.*/
*cmake*/
*cmake*.*
__*/
__*.*
